<!DOCTYPE html>
<html lang="sp">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Ferreteria Pico & Pala</title>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet"> 
      <link rel="stylesheet" href="/css/home.css">

      <!-- FontAwesome -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
      <link rel="shortcun icon" href="/img/Logo.png">
</head>

<body>
      <div class="container">

            <%- include("partials/header") %>

                  <main class="main-section">
                        <!-- banner -->
                        <section class="banner">
                              <img src="/img/banner.png" alt="banner">
                        </section>

                        <!-- Productos Destacados -->
                        <section class="vip-products">
                              <div class="container-title">
                                    <h3 class="title">✨PRODUCTOS DESTACADOS ✨</h3>
                                    <a href="#">ver mas...</a>
                              </div>
                              <article class="product">
                                    <div class="product-container">
                                          <a class="photo-container" href="/productos/descripcion">
                                                <img class="photo" src="/img/Combo Moladora-Taladro.png" alt="plato nuevo">
                                          </a>
                                          <div class="valoracion">
                                                <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i
                                                      class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
                                          </div>
                                    </div>
                                    <h2 class="name">Combo Amoladora Gladiator + Taladro Percutor + 5 Discos</h2>
                                    <p class="price">$ 11.461</p>
                                    <p class="send">Envio Gratis</p>
                              </article>
                              <article class="product">
                                    <div class="product-container">
                                          <a class="photo-container" href="/productos/descripcion">
                                                <img class="photo" src="/img/PicoPala.png" alt="plato nuevo">
                                          </a>
                                          <div class="valoracion">
                                                <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i
                                                      class="fa-sharp fa-solid fa-star"></i>
                                          </div>
                                    </div>
                                    <h2 class="name">Combo Pico Punta Pala+ Pala Corazón Forjada Gherardi</h2>
                                    <p class="price">$ 17.850</p>
                                    <p class="send">Envio Gratis</p>
                              </article>
                              <article class="product">
                                    <div class="product-container">
                                          <a class="photo-container" href="/productos/descripcion">
                                                <img class="photo" src="/img/instalacionElectrica.png" alt="plato nuevo">
                                          </a>
                                          <div class="valoracion">
                                                <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i
                                                      class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
                                          </div>
                                    </div>
                                    <h2 class="name">Combo Instalación Electrica Domiciliaría</h2>
                                    <p class="price">$ 11.325</p>
                                    <p class="send">Envio Gratis</p>
                              </article>
                              <article class="product">
                                    <div class="product-container">
                                          <a class="photo-container" href="/productos/descripcion">
                                                <img class="photo" src="/img/sillonesJardin.png" alt="plato nuevo">
                                          </a>
                                          <div class="valoracion">
                                                <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i
                                                      class="fa-sharp fa-solid fa-star"></i>
                                          </div>
                                    </div>
                                    <h2 class="name">Juego De 4 Sillas Sillon Jardin Garden Life Miami Exteriores</h2>
                                    <p class="price">$ 30.999</p>
                                    <p class="send">Envio Gratis</p>
                              </article>
                        </section>

                        <!-- Productos Ofertas -->
                        <section class="vip-products">
                              <div class="container-title">
                                    <h3 class="title">🔥 ¡OFERTAS SÓLO POR HOY! 🔥 </h3>
                                    <a href="#">ver mas...</a>
                              </div>
                              <article class="product">
                                    <div class="product-container">
                                          <a class="photo-container" href="/productos/descripcion">
                                                <img class="photo" src="/img/Soldador-Lusqtoff.png" alt="plato nuevo">
                                          </a>
                                          <div class="valoracion">
                                                <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i
                                                      class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i
                                                      class="fa-sharp fa-solid fa-star"></i>
                                          </div>
                                          <div class="descuento">
                                                <p>-40%</p>
                                          </div>
                                    </div>
                                    <h2 class="name">Mega Kit Soldador Iron-100 + Mascara + Escuadras Lusqtoff</h2>
                                    <p class="price">$ 26.770</p>
                                    <p class="send">Envio Gratis</p>
                              </article>
                              <article class="product">
                                    <div class="product-container">
                                          <a class="photo-container" href="/productos/descripcion">
                                                <img class="photo" src="/img/Desmalezadora Motoguadania.png" alt="plato nuevo">
                                          </a>
                                          <div class="valoracion">
                                                <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i
                                                      class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i
                                                      class="fa-sharp fa-solid fa-star"></i>
                                          </div>
                                          <div class="descuento">
                                                <p>-25%</p>
                                          </div>
                                    </div>
                                    <h2 class="name">Desmalezadora Motoguadaña 52cc Fiwaki Motor A Explosion 2t</h2>
                                    <p class="price">$ 29.294</p>
                                    <p class="send">Envio Gratis</p>
                              </article>
                              <article class="product">
                                    <div class="product-container">
                                          <a class="photo-container" href="/productos/descripcion">
                                                <img class="photo" src="/img/ventilador.png" alt="plato nuevo">
                                          </a>
                                          <div class="valoracion">
                                                <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i
                                                      class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i
                                                      class="fa-sharp fa-solid fa-star"></i>
                                          </div>
                                          <div class="descuento">
                                                <p>-14%</p>
                                          </div>
                                    </div>
                                    <h2 class="name">Ventilador 3 En 1 Pektra 20p 3 Aspas Metalico Pie Pared Piso</h2>
                                    <p class="price">$ 12.558</p>
                                    <p class="send">Envio Gratis</p>
                              </article>
                              <article class="product">
                                    <div class="product-container">
                                          <a class="photo-container" href="/productos/descripcion">
                                                <img class="photo" src="/img/estanteFlotante.png" alt="plato nuevo">
                                          </a>
                                          <div class="valoracion">
                                                <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i
                                                      class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i
                                                      class="fa-sharp fa-solid fa-star"></i>
                                          </div>
                                          <div class="descuento">
                                                <p>-8%</p>
                                          </div>
                                    </div>
                                    <h2 class="name">Estante Flotante De Melamina Repisa De Madera Biblioteca</h2>
                                    <p class="price">$ 13.790</p>
                                    <p class="send">Envio Gratis</p>
                              </article>
                        </section>

                        <!-- Formas de pago-->
                        <section class="payment-methods">
                              <div>
                                    <div class="icon"><i class="fa-solid fa-credit-card"></i></div>
                                    <span>Tarjeta de crédito</span>
                                    <span>Hasta 12 cuotas</span>
                              </div>
                              <div>
                                    <div class="icon"><i class="fa-regular fa-credit-card"></i></div>
                                    <span>Tarjeta de débito</span>
                              </div>
                              <div>
                                    <div class="icon"><i class="fa-solid fa-hand-holding-dollar"></i></div>
                                    <span>Efectivo</span>
                              </div>
                              <div>
                                    <div class="icon"><i class="fa-solid fa-truck-fast"></i></div>
                                    <span>Envios a domicilio</span>
                              </div>
                        </section>

                        <!-- Register to our offers  -->

                        <div class="form-container">
                              <h4>NUESTRAS OFERTAS</h4>
                              <hr>
                              <span class="require">* Requerido</span>
                              <form action="" method="">
                                    <div class="form">

                                          <div class="input-container">
                                                <input class="input-style" type="email" name="email" placeholder="Ingrese su email">
                                                <span class="error-message">Debe ingresar su email</span>
                                          </div>
                                          <div class="check">
                                                <input type="checkbox" name="recordar" id="recordar">
                                                <label for="recordar"> Quiero recibir las mejores ofertas en mi correo </label>
                                                <span class="error-message">Debe aceptar las ofertas</span>

                                          </div>
                                          <div class="button-container">
                                                <span class="error-message">Credenciales inválidas</span>
                                                <button type="submit" class="btn btn-submit">Registrarme</button>
                                          </div>
                                          <span><a href="/usuarios/login">Ya tengo cuenta</a></span>

                                    </div>
                              </form>
                        </div>


                  </main>

                  <%- include("partials/footer") %>

                        <script src="js/index.js"></script>

      </div>
</body>

</html>