<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>listado de productos</title>
      <link rel='stylesheet' href='/css/style.css' />

</head>

<body>
      <figure>
            <img src="/img/logo-DH.png" alt="Logo Digital House">
      </figure>
      <h1>LISTADO DE GENEROS</h1>
      <ul>
            <% for( let i=0; i < featured.length; i++ ) { %>
                  <li>
                        <a href="">
                              <%= featured[i].name %> - <%= featured[i].subcategory.name %> - <%= featured[i].subcategory.category.name %>
                                                <% for( let j=0; j < featured[i].images.length; j++ ) { %>
                                                      <%= featured[i].images[j].name %>
                                                            <% } %>
                  </li>
                  <img class="photo" src="/img/Herramientas/Combo Moladora-Taladro.png" alt="">
                  <% } %>

      </ul>
</body>

</html>