<!DOCTYPE html>
<html lang="sp">
<%- include("../partials/head") %>

      <body>
            <%- include("../partials/header") %>
                  <main>
                        <div class="form-container">
                              <h2>Agregar Producto</h2>
                              <p>Ingresá los datos</p>
                              <form action="/productos/" method="POST">
                                    <div class="form">
                                          <div class="input-container">
                                                <label for="name" class="form-label">Nombre:</label>
                                                <input class="input-style" type="text" name="name" placeholder="Ej: Pico & Pala">
                                                <span class="error-message">Debe ingresar su nombre</span>
                                          </div>
                                          <div class="input-container">
                                                <label for="img" class="form-label">Imagen:</label>
                                                <input class="input-style" type="file" id="img" name="img">
                                          </div>
                                          <div class="input-container">
                                                <label for="price" class="form-label">Precio:</label>
                                                <input class="input-style" type="number" name="price" placeholder="Ej: 2500">
                                                <span class="error-message">Debe ingresar el precio</span>
                                          </div>
                                          <div class="input-container">
                                                <label for="discount" class="form-label">Descuento:</label>
                                                <input class="input-style" type="number" name="discount" placeholder="Ej: 10">
                                                <span class="error-message">Debe ingresar el descuento %</span>
                                          </div>
                                          <div class="input-container">
                                                <label for="description" class="form-label">Descipción:</label>
                                                <textarea name="description" id="description" class="textarea-style"
                                                      placeholder="Ingrese la descripción"></textarea>
                                                <span class="error-message">Debe ingresar la descripción del producto</span>
                                          </div>
                                          <div class="input-container">
                                                <label for="category" class="form-label">Categoría:</label>
                                                <select name="category" id="category" class="select-style">
                                                      <option value="Climatización">Climatización</option>
                                                      <option value="Eléctricidad">Eléctricidad</option>
                                                      <option value="Herramientas">Herramientas</option>
                                                      <option value="Jardín y piscinas">Jardín y piscinas</option>
                                                      <option value="Para el hogar">Para el hogar</option>
                                                      <option value="Ferretería">Ferretería</option>
                                                </select>
                                          </div>
                                          <div class="input-container">
                                                <label for="subcategory" class="form-label">SubCategoria:</label>
                                                <select name="subcategory" id="subcategory" class="select-style">
                                                      <option value="Aire acondicionado">Aire acondicionado</option>
                                                      <option value="Ventiladores">Ventiladores</option>
                                                      <option value="Estufas y Calefactores">Estufas y Calefactores</option>
                                                      <option value="Muebles para exterior">Muebles para exterior</option>
                                                      <option value="Piscinas y accesorios">Piscinas y accesorios</option>
                                                      <option value="Riego">Riego</option>
                                                      <option value="Insecticidas y repelentes">Insecticidas y repelentes</option>
                                                      <option value="Cuidado y lavandería">Cuidado y lavandería</option>
                                                      <option value="Bazar y Cocina">Bazar y Cocina</option>
                                                      <option value="Adornos y Decoración">Adornos y Decoración</option>
                                                </select>
                                          </div>

                                          <div class="input-container">
                                                <label for="sold" class="form-label">Ventas:</label>
                                                <input class="input-style" type="number" name="sold" placeholder="Ej: 0">
                                                <span class="error-message">Debe ingresar la cantidad vendida</span>
                                          </div>
                                          <div class="input-container">
                                                <label for="stock" class="form-label">Stock:</label>
                                                <input class="input-style" type="number" name="stock" placeholder="Ej: 150">
                                                <span class="error-message">Debe ingresar el stock</span>
                                          </div>
                                          <div class="button-container">
                                                <button type="submit" class="btn btn-submit">Agregar</button>
                                          </div>
                                    </div>
                              </form>

                        </div>
                  </main>

                  <%- include("../partials/footer") %>

                        <script src="/js/script.js"></script>
      </body>

</html>