<header class="main-header">

      <div class="main-top">
            <div class="logo-nombre">
                  <a href="/">
                        <img src="/img/logo.png" alt="Logo" class="logo"></a>
                  <div>
                        <h4>FERRETERÍA</h4>
                        <p>PICO & PALA</p>
                  </div>

            </div>
            <nav class="main-nav-rigth">
                  <ul>
                        <li>
                              <a href="/productos/create"><i class="fa-solid fa-circle-up"></i></a>
                              <p>Vender</p>
                        </li>
                        <li>
                              <a href="/productos/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                              <p>$ 0.00</p>
                        </li>
                        <li>
                              <a href="/usuarios/login">
                                    <i class="fa-solid fa-user"></i>
                                    <p>Mi Cuenta</p>
                              </a>
                        </li>
                  </ul>
            </nav>
      </div>
      <div class="main-search">
            <a href="#" class="toggle-nav">
                  <span class="fas fa-bars"></span>
            </a>
            <input type="search" class="search" placeholder=" Buscar en Pico & Pala">
            <i class='fa-solid fa-magnifying-glass'></i>
      </div>


      <nav class="main-nav">
            <div class="btn-close-container">
                  <i class="fa-regular fa-circle-xmark" id="btn-close"></i>
            </div>
            <ul class="menu">
                  <li><a href="/productos/filters/Climatización">Climatización</a></li>
                  <li><a href="/productos/filters/Jardín y piscinas">Jardín y Piscinas</a></li>
                  <li><a href="/productos/filters/Para el hogar">Para el Hogar</a></li>
                  <li><a href="/productos/filters/Eléctricidad">Eléctricidad</a></li>
                  <li><a href="/productos/filters/Herramientas">Herramientas</a></li>
                  <li><a href="/productos/filters/Ferretería">Ferretería</a></li>
            </ul>
      </nav>

</header>