.main-container-products {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
}
.container-main-nav {
      margin-left: -15px;
      padding-right: 15px 0;
      width: 25%;
}
.navMain ul li {
      margin-top: 5px;
}

.navMain ul li a {
      text-align: left;

      color: #184b44;
}
