@import url("forms.css");

/* BANNER */
main.main-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px;
      margin-bottom: 10px;
      background-color: var(--gris-claro);
      border-radius: 5px;
}
section.banner {
      display: block;
      margin-bottom: 5px;
}
section.banner img {
      width: 100%;
}

/* PRODUCTS */
main.main-section section.vip-products {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 10px;
}
main.main-section section.vip-products div.container-title {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      width: 100%;
      padding-left: 5px;
}
main.main-section section.vip-products div.container-title h3.title {
      color: var(--bordo);
      font-size: 14px;
      margin-right: 5px;
}
main.main-section section.vip-products div.container-title a {
      color: var(--celeste);
      font-size: 12px;
      text-decoration: underline;
}
main.main-section section.vip-products article.product {
      max-width: 140px;
      margin: 20px 2px 10px 3px;
      padding: 5px;
      background-color: white;
      border-radius: 10px;
}
main.main-section section.vip-products article.product:hover {
      transform: scale(1.1);
      box-shadow: 5px 5px 10px rgb(100, 100, 100);
}
main.main-section section.vip-products article.product .product-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
}
main.main-section section.vip-products article.product .product-container div.valoracion {
      position: absolute;
      top: 0;
      left: 0px;
      color: var(--amarillo);
      font-size: 8px;
}
main.main-section section.vip-products article.product .product-container div.descuento {
      position: absolute;
      top: 0;
      right: 0px;
      background-color: var(--rojo);
      color: white;
      border-radius: 20px;
      font-size: 11px;
      padding: 4px;
}
main.main-section section.vip-products article.product div.product-container a.photo-container {
      height: 120px;
}
main.main-section section.vip-products article.product .product-container img.photo {
      width: 100%;
      border-radius: 10px;
}
main.main-section section.vip-products article.product h2.name {
      color: var(--gris-medio);
      font-size: 10px;
      font-weight: normal;
      padding: 3px 5px;
      border-top: 1px solid var(--gris-medio);
      height: 50px;
      /* overflow: scroll; */
}
main.main-section section.vip-products article.product p.price {
      color: var(--bordo);
      margin: 5px 0;
      font-weight: bold;
}
main.main-section section.vip-products article.product p.send {
      color: var(--celeste);
      font-size: 10px;
      padding: 3px;
}
/* END PRODUCTS */

/* PAYMENT METHODS */
main.main-section section.payment-methods {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      width: 100%;
      margin: 10px 0;
}
main.main-section section.payment-methods div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 70px;
}
main.main-section section.payment-methods div div.icon {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: var(--bordo);
      color: white;
      padding: 9px;
      text-align: center;
}
main.main-section section.payment-methods span {
      color: var(--bordo);
      font-size: 8px;
}
/* END PAYMENT METHODS */

/* REGISTER TO OUR OFFERS */
/* .form-container {
      margin: 10px 0;
}
.form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.input-container,
.button-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      width: 100%;
}
section div.form-container h4 {
      color: var(--bordo);
}
section div.form-container span {
      font-size: 0.7rem;
}
section div.form-container div.form div.check label {
      font-size: 0.8rem;
}
span.error-message {
      color: tomato;
}
input.input-style {
      margin-top: 10px;
      border: 1px var(--gris-medio) solid;
      border-radius: 0.7rem;
      height: 1.8rem;
      padding: 0 0.5rem;
      outline: none;
}
input.input-style::placeholder {
      color: lightgray;
} */
/* END REGISTER TO OUR OFFERS */

/* Media queries */
@media (min-width: 768px) {
      /* PRODUCTS */
      main.main-section section.vip-products div.container-title h3.title {
            font-size: 20px;
      }
      main.main-section section.vip-products article.product {
            max-width: 165px;
      }
      main.main-section section.vip-products article.product div.product-container a.photo-container {
            height: 140px;
      }
      main.main-section section.vip-products article.product h2.name {
            font-size: 12px;
            height: 45px;
      }
      main.main-section section.vip-products article.product p.price {
            font-size: 16px;
      }
      main.main-section section.vip-products article.product p.send {
            font-size: 12px;
      }
      /* END PRODUCTS */
      /* PAYMENT METHODS */
      main.main-section section.payment-methods {
            width: 50%;
      }
      /* END PAYMENT METHODS */
}

/* Media queries */
@media (min-width: 1024px) {
      /* PRODUCTS */
      main.main-section section.vip-products article.product {
            max-width: 205px;
      }
      main.main-section section.vip-products article.product div.product-container a.photo-container {
            height: 180px;
      }
      /* END PRODUCTS */
}
