<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/carrito.css">
      <!-- FontAwesome -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
      <link rel="shortcun icon" href="/img/Logo.png">
      <title>Carrito de compras</title>
</head>

<body>
      <div class="container">
            <header class="main-header">

                  <div class="main-top">
                        <div class="logo-nombre">
                              <a href="/">
                                    <img src="/img/logo.png" alt="Logo" class="logo"></a>
                              <div>
                                    <h4>FERRETERÍA</h4>
                                    <p>PICO & PALA</p>
                              </div>

                        </div>
                        <nav class="main-nav-rigth">
                              <ul>
                                    <li>
                                          <i class="fa-sharp fa-solid fa-star"></i>
                                          <p>Favoritos</p>
                                    </li>
                                    <li>
                                          <a href="carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                                          <p>$ 0.00</p>
                                    </li>
                                    <li>
                                          <a href="login">
                                                <i class="fa-solid fa-user"></i>
                                                <p>Mi Cuenta</p>
                                          </a>
                                    </li>
                              </ul>
                        </nav>
                  </div>
                  <div class="main-search">
                        <a href="#" class="toggle-nav">
                              <span class="fas fa-bars"></span>
                        </a>
                        <input type="search" class="search" placeholder=" Buscar en Pico & Pala">
                        <i class='fa-solid fa-magnifying-glass'></i>
                  </div>


                  <nav class="main-nav">
                        <div class="btn-close-container">
                              <i class="fa-regular fa-circle-xmark" id="btn-close"></i>
                        </div>
                        <ul class="menu">
                              <li><a href="#">Climatización</a></li>
                              <li><a href="#">Jardín y Piscinas</a></li>
                              <li><a href="#">Para el Hogar</a></li>
                              <li><a href="#">Electricidad</a></li>
                              <li><a href="#">Herramientas</a></li>
                              <li><a href="#">Ferreteria</a></li>
                        </ul>
                  </nav>

            </header>

            <main class="main-section">
                  <h2 class="titulo-carrito">Carrito de compras</h2>

                  <section class="shopping-cart-container">

                        <article class="product"> 
                              <div class="imagen">
                                    <img class="photo" src="img/Combo Moladora-Taladro.png" alt="plato nuevo">
                              </div>
                              <div class="title-container">
                                    <p class="name">Combo Amoladora Gladiator + Taladro Percutor + 5 Discos</p>
                                    <p class="envio">Envio Gratis</p>
                              </div>
                        </article>
                        
                        <div class="form-container"> 
                              <form action="" method="">
                                    <div class="form">

                                          <div class="select-container">
                                                <label for="cantidad">Cantidad: </label>
                                                <select name="cantidad" class="input-select" id="cantidad">
                                                      <option value="" hidden selected>1</option>
                                                      <option value="1">1</option>
                                                      <option value="2">2</option>
                                                      <option value="3">3</option>
                                                      <option value="4">4</option>
                                                      <option value="5">5</option>
                                                </select>
                                                <p class="price">$ 11.461</p>
                                          </div>
                                          <div class="total-container">
                                                <p class="price-total">Total: $ xxxx,xx</p>  
                                                <div class="icon-reset"><button class="boton-reset" type="reset" value="reset"><i class="fa-regular fa-trash-can"></i></button></div>
                                          </div> 
                                    </div> 
                              </form>
                        </div>

                  </section>

                  <section class="shopping-cart-container">

                        <article class="product">
                              <div class="imagen">
                                    <img class="photo" src="img/Soldador-Lusqtoff.png" alt="plato nuevo">
                              </div>
                              <div class="title-container">
                                    <p class="name">Mega Kit Soldador Iron-100 + Mascara + Escuadras Lusqtoff</p>
                                    <p class="envio">Envio Gratis</p>
                              </div>
                        </article>

                        <div class="form-container">
                              <form action="" method="">
                                    <div class="form">

                                          <div class="select-container">
                                                <label for="cantidad">Cantidad: </label>
                                                <select name="cantidad" class="input-select" id="cantidad">
                                                      <option value="" hidden selected>1</option>
                                                      <option value="1">1</option>
                                                      <option value="2">2</option>
                                                      <option value="3">3</option>
                                                      <option value="4">4</option>
                                                      <option value="5">5</option>
                                                </select>
                                                <p class="price">$ 26.770</p>
                                          </div>
                                          <div class="total-container">
                                                <p class="price-total">Total: $ xxxx,xx</p>
                                                <div class="icon-reset"><button class="boton-reset" type="reset" value="reset"><i class="fa-regular fa-trash-can"></i></button></div>
                                          </div>
                                    </div>
                              </form>
                        </div>

                  </section>

                  <section class="cupon-container">
                        <div class="form-container">
                              <form action="" method="">
                                    <div class="form">

                                          <div class="input-container">
                                                <input class="input-style" type="text" name="cupon" placeholder="Ingrese su cupon">
                                                <span class="error-message">Debe ingresar su cupon</span>
                                          </div>
                                          <div class="button-container">
                                                <button type="submit" class="btn btn-submit">Validar</button>
                                          </div>
                                          <div class="send-container">
                                                <div class="direccion">
                                                      <span>Direccion:</span>
                                                      <span>Avenida Juan V. Justo 9 B, La Plata, Buenos Aires</span>
                                                </div>
                                                <div class="price">
                                                      <span>Costo del envio:</span><span>$ ####,##</span>
                                                </div>
                                                <div class="descuento">
                                                      <span>Descuento:</span><span>$ ####,##</span>
                                                </div>
                                                <div class="price-total">
                                                      <span>Total:</span> <span>$ ####,##</span>
                                                </div>
                                          </div>
                                          <div class="button-container">
                                                <button type="submit" class="btn btn-confirm">Confirmar Compra</button>
                                          </div>
                                    </div>
                              </form>
                        </div>
                  </section>

                  <section class="vip-products">
                        <div class="container-title">
                              <h3 class="title">✨PRODUCTOS DESTACADOS ✨</h3>
                              <a href="#">ver mas...</a>
                        </div>
                        <article class="product">
                              <div class="product-container">
                                    <a class="photo-container" href="descripcion">
                                          <img class="photo" src="img/Combo Moladora-Taladro.png" alt="plato nuevo">
                                    </a>
                                    <div class="valoracion">
                                          <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i
                                                class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
                                    </div>
                              </div>
                              <h2 class="name">Combo Amoladora Gladiator + Taladro Percutor + 5 Discos</h2>
                              <p class="price">$ 11.461</p>
                              <p class="send">Envio Gratis</p>
                        </article>
                        <article class="product">
                              <div class="product-container">
                                    <a class="photo-container" href="descripcion">
                                          <img class="photo" src="img/PicoPala.png" alt="plato nuevo">
                                    </a>
                                    <div class="valoracion">
                                          <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i
                                                class="fa-sharp fa-solid fa-star"></i>
                                    </div>
                              </div>
                              <h2 class="name">Combo Pico Punta Pala+ Pala Corazón Forjada Gherardi</h2>
                              <p class="price">$ 17.850</p>
                              <p class="send">Envio Gratis</p>
                        </article>
                        <article class="product">
                              <div class="product-container">
                                    <a class="photo-container" href="descripcion">
                                          <img class="photo" src="img/instalacionElectrica.png" alt="plato nuevo">
                                    </a>
                                    <div class="valoracion">
                                          <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i
                                                class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
                                    </div>
                              </div>
                              <h2 class="name">Combo Instalación Electrica Domiciliaría</h2>
                              <p class="price">$ 11.325</p>
                              <p class="send">Envio Gratis</p>
                        </article>
                        <article class="product">
                              <div class="product-container">
                                    <a class="photo-container" href="descripcion">
                                          <img class="photo" src="img/sillonesJardin.png" alt="plato nuevo">
                                    </a>
                                    <div class="valoracion">
                                          <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i
                                                class="fa-sharp fa-solid fa-star"></i>
                                    </div>
                              </div>
                              <h2 class="name">Juego De 4 Sillas Sillon Jardin Garden Life Miami Exteriores</h2>
                              <p class="price">$ 30.999</p>
                              <p class="send">Envio Gratis</p>
                        </article>
                  </section>

            </main>

            <footer class="main-footer">
                  <div class="container-footer">
                        <div class="container-image">
                              <img src="img/qr.png" alt="">
                              <img src="img/googlePlay.png" alt="" id="googlePlay">
                        </div>
                        <div class="our-networks">
                              <p>Buscano en nuestras redes</p>
                              <div class="container-networks">
                                    <div class="icon"><i class="fa-brands fa-facebook"></i></div>
                                    <div class="icon"><i class="fa-brands fa-telegram"></i></div>
                                    <div class="icon"><i class="fa-brands fa-youtube"></i></div>
                                    <div class="icon"><i class="fa-brands fa-twitter"></i></div>
                                    <div class="icon"><i class="fa-brands fa-square-instagram"></i></div>
                              </div>
                        </div>
                        <div class="nav-bottom">
                              <ul>
                                    <li><a href="#">Contactos</a></li>
                                    <li><a href="#">¿Quienes somos?</a></li>
                                    <li><a href="#">Politicas de Privacidad</a></li>
                                    <li><a href="#">Aviso legal y condiciones de uso</a></li>
                                    <li><a href="#">Politicas de Cookies</a></li>
                              </ul>
                        </div>
                        <p>Ferreteria Pico y Pala ©2022</p>
                  </div>
            </footer>
            <script src="js/index.js"></script>
      </div>
</body>
<script>
      /*close product carrito*/
      window.onload = function () {
            document.getElementById('close').onclick = function () {
                  this.parentNode.parentNode.parentNode
                        .removeChild(this.parentNode.parentNode);
                  return false;
            };
      };
      document.getElementById('close1').onclick = function () {
            this.parentNode.parentNode.parentNode
                  .removeChild(this.parentNode.parentNode);
            return false;
      };
       /*end close product carrito*/
</script>

</html>