<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/carrito.css">
      <!-- FontAwesome -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
      <title>Carrito de compras</title>
</head>

<body>
      <div class="container">
            <header class="main-header">

                  <div class="main-top">
                        <div class="logo-nombre">
                              <img src="/img/logo.png" alt="Logo" class="logo">
                              <div>
                                    <h4>FERRETERÍA</h4>
                                    <p>PICO & PALA</p>
                              </div>
                        </div>
                        <nav class="main-nav-rigth">
                              <ul>
                                    <li>
                                          <i class="fa-sharp fa-solid fa-star"></i>
                                          <p>Favoritos</p>
                                    </li>
                                    <li>
                                          <a href="carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                                          <p>$ 0.00</p>
                                    </li>
                                    <li>
                                          <i class="fa-solid fa-user"></i>
                                          <p>Mi Cuenta</p>
                                    </li>
                              </ul>
                        </nav>
                  </div>
                  <div class="main-search">
                        <a href="#" class="toggle-nav">
                              <span class="fas fa-bars"></span>
                        </a>
                        <input type="search" class="search" placeholder=" Buscar en Pico & Pala">
                        <i class='fa-solid fa-magnifying-glass'></i>
                  </div>


                  <nav class="main-nav">
                        <ul>
                              <li><a href="#">Climatización</a></li>
                              <li><a href="#">Jardín y Piscinas</a></li>
                              <li><a href="#">Para el Hogar</a></li>
                              <li><a href="#">Electricidad</a></li>
                              <li><a href="#">Herramientas</a></li>
                              <li><a href="#">Ferreteria</a></li>
                        </ul>
                  </nav>

            </header>
            <main>
                  <h3 class="titulo-carrito">Carrito de compras</h3>
      
                  <section class="product-container">
                        
                        <article class="product">

                              <div class="imagen">
                                    <img class="photo" src="img/Combo Moladora-Taladro.png" alt="plato nuevo">
                              </div>
                              
                              <div class="title-container">
                                    <h4 class="name">Combo Amoladora Gladiator + Taladro Percutor + 5 Discos</h4>

                                    <p class="price">Breve Descripcion</>

                              </div>
                              <span  id="close"><i class="fa-solid fa-xmark"></i></span>
                        </article>
                        <form><div class="descript">
                              <div class="cant">
                                    <div class="input-container">
                                          <select name="unidad" class="input-select">
                                                <option value="" hidden selected>Elija cantidad</option>
                                                <option value="1">1u</option>
                                                <option value="2">2u</option>
                                                <option value="3">3u</option>
                                                <option value="4">4u</option>
                                                <option value="5">5u</option>
                                          </select>
                                    </div>
                                    <p class="price">$ 11.461</p>
                              </div>
                              <p class="price-total">Total: $ xxxx,xx</p>
                              <button type="reset" class="reseteo"><i class="fa-regular fa-trash-can"></i> </button>
                         </div>
                        </form>
                  </section>

                  <section class="product-container">
                        <article class="product">
                           
                              <div class="imagen">
                                    <img class="photo" src="img/Combo Moladora-Taladro.png" alt="plato nuevo">
                              </div>

                              <div class="title-container">
                                    <h4 class="name">Combo Amoladora Gladiator + Taladro Percutor + 5 Discos</h4>

                                    <p>Breve Descripcion</>

                              </div>
                              <span id="close1"><i class="fa-solid fa-xmark"></i></span>
                        </article>
                        <form><div class="descript">
                              <div class="cant">
                                    <div class="input-container">
                                          <select name="unidad" class="input-select">
                                                <option value="" hidden selected>Elija cantidad</option>
                                                <option value="1">1u</option>
                                                <option value="2">2u</option>
                                                <option value="3">3u</option>
                                                <option value="4">4u</option>
                                                <option value="5">5u</option>
                                          </select>
                                    </div>
                                    <p class="price">$ 11.461</p>
                              </div>
                              <p class="price-total">Total: $ xxxx,xx</p>
                              <button type="reset" class="reseteo"><i class="fa-regular fa-trash-can"></i> </button>
                              </div>
                              
                        </form>
                        

                  </section>

                  <section class="cupon-container">
                        <div class="input-container">
                            <div class="input">
                              <input class="input-style" type="text" name="name" placeholder="Ingrese su cupon">
                            </div>
                              <span class="error-message">Debe ingresar su cupon</span>
                              <button type="submit" class="btn btn-edit">Validar</button>
                              <p class="direccion">Avenida Juan V. Justo 9 B, La Plata, Buenos Aires</p>
                              <p class="price">$ ####,##</p>
                              <p>Total con Envio</p>
                              <p class="price-total">$ ####,##</p>
                        </div>
                        <div class="boton-comprar">
                              <button type="submit" class="btn btn-edit">confirmar compra</button>
                        </div>
                  </section>


            </main>
      </div>
</body>
<script>
      /*close product carrito*/
window.onload = function(){
      document.getElementById('close').onclick = function(){
          this.parentNode.parentNode.parentNode
          .removeChild(this.parentNode.parentNode);
          return false;
      };
  };
      document.getElementById('close1').onclick = function(){
          this.parentNode.parentNode.parentNode
          .removeChild(this.parentNode.parentNode);
          return false;
      };
       /*end close product carrito*/
  </script>

</html>