<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/descripcion.css">
      <!-- FontAwesome -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
      <title>Document</title>
</head>

<body>
      <div>
            <header class="main-header">

                  <div class="main-top">
                        <div class="logo-nombre">
                              <img src="/img/logo.png" alt="Logo" class="logo">
                              <div>
                                    <h4>FERRETERÍA</h4>
                                    <p>PICO & PALA</p>
                              </div>
                        </div>
                        <nav class="main-nav-rigth">
                              <ul>
                                    <li>
                                          <i class="fa-sharp fa-solid fa-star"></i>
                                          <p>Favoritos</p>
                                    </li>
                                    <li>
                                          <i class="fa-solid fa-cart-shopping"></i>
                                          <p>$ 0.00</p>
                                    </li>
                                    <li>
                                          <i class="fa-solid fa-user"></i>
                                          <p>Mi Cuenta</p>
                                    </li>
                              </ul>
                        </nav>
                  </div>
                  <div class="main-search">
                        <a href="#" class="toggle-nav">
                              <span class="fas fa-bars"></span>
                        </a>
                        <input type="search" class="search" placeholder=" Buscar en Pico & Pala">
                        <i class='fa-solid fa-magnifying-glass'></i>
                  </div>


                  <nav class="main-nav">
                        <ul>
                              <li><a href="#">Climatización</a></li>
                              <li><a href="#">Jardín y Piscinas</a></li>
                              <li><a href="#">Para el Hogar</a></li>
                              <li><a href="#">Electricidad</a></li>
                              <li><a href="#">Herramientas</a></li>
                              <li><a href="#">Ferreteria</a></li>
                        </ul>
                  </nav>

            </header>
            <main class="main">
                  <section class="container">

                        <div class="container-title">
                              <p>Nuevo| 31 vendidos</p>
                              <h3>Bombillos ahorradores de luz</h3>
                              <p class="price">$###,##</p>
                              <p class="cuotas">en 12x ###,##</p>
                        </div>

                        <div class="image">
                              <img src="/img/3. Bombillos ahorradores de luz.jpg" alt="Bombillos de luz">
                        </div>

                        <div class="conteiner-compra">
                              <a href="#">Ver los medios de pago</a>
                              <p>Llega el maretes xx de diciembre
                                    Devolución gratis
                                    Tenes 30 días desde que lo recibís
                                    Stock disponible
                                    cantidad:#unidad (### disponibles)</p>
                        </div>

                        <div class="conteineir-decrip">
                              <h3>Descripción del Producto</h3>
                              <p>Dos poderosos argumentos de venta que le ayudarán a que el producto tenga alta rotación en su inventario,sin contar
                                    con la ayuda que está prestando al medio ambiente. La inversión inicial que hace para adquirir un bombillo
                                    ahorrador, aunque es cuatro veces más alta que la que se hace en un bombillo tradicional, se verá reflejada en la
                                    factura del consumo de luz, pues un ahorrador de 20 vatios puede iluminar igual o mejor que unincandescente de 100
                                    vatios.
                              </p>
                        </div>

                  </section>
            </main>

      </div>
</body>

</html>