<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div>
        <header></header>
        <main>
            <h4></h4>
            <section>
                <div class="Texto">
                    <h3>Nuevo| 31 vendidos</h3>
                    <h2>Bombillos ahorradores de luz</h2>
                    <h3>$###,##</h3>    
                    <h5>AHORA 12</h5>
            </div>
                <div><img src="/images/3. Bombillos ahorradores de luz.jpg" alt="Bombillos de luz">
                </div>
                <div class="Texto">
                    <h4>Ver los medios de pago</h4>
                    <h4>Llega el maretes xx de diciembre</h4>
                    <h4>Devolución gratis</h4>
                    <h4>Tenes 30 días desde que lo recibís</h4>
                    <h4>Stock disponible</h4>
                    <h4>cantidad:#unidad (### disponibles)</h4>
                </div>
                <div>
                    <h2>Descripción del Producto</h2>
                    <h5>Dos poderosos argumentos de venta que le ayudarán a que el producto tenga alta rotación en su inventario,sin contar con la ayuda que está prestando al medio ambiente. La inversión inicial que hace para adquirir un bombillo ahorrador, aunque es cuatro veces más alta que la que se hace en un bombillo tradicional, se verá reflejada en la factura del consumo de luz, pues un ahorrador de 20 vatios puede iluminar igual o mejor que unincandescente de 100 vatios.
                    </h5>
                </div>    
            </section>
        </main>

    </div>
</body>
</html>