<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/descripcion.css">
      <!-- FontAwesome -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
      <link rel="shortcun icon" href="/img/Logo.png">
      <title>Descripción del producto</title>
</head>

<body>
      <div>

            <header class="main-header">

                  <div class="main-top">
                        <div class="logo-nombre">
                              <a href="/">
                                    <img src="/img/logo.png" alt="Logo" class="logo"></a>
                              <div>
                                    <h4>FERRETERÍA</h4>
                                    <p>PICO & PALA</p>
                              </div>

                        </div>
                        <nav class="main-nav-rigth">
                              <ul>
                                    <li>
                                          <i class="fa-sharp fa-solid fa-star"></i>
                                          <p>Favoritos</p>
                                    </li>
                                    <li>
                                          <a href="carrito">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                                <p>$ 0.00</p>
                                          </a>
                                    </li>
                                    <li>
                                          <a href="login">
                                                <i class="fa-solid fa-user"></i>
                                                <p>Mi Cuenta</p>
                                          </a>
                                    </li>
                              </ul>
                        </nav>
                  </div>
                  <div class="main-search">
                        <a href="#" class="toggle-nav">
                              <span class="fas fa-bars"></span>
                        </a>
                        <input type="search" class="search" placeholder=" Buscar en Pico & Pala">
                        <i class='fa-solid fa-magnifying-glass'></i>
                  </div>


                  <nav class="main-nav">
                        <div class="btn-close-container">
                              <i class="fa-regular fa-circle-xmark" id="btn-close"></i>
                        </div>
                        <ul class="menu">
                              <li><a href="#">Climatización</a></li>
                              <li><a href="#">Jardín y Piscinas</a></li>
                              <li><a href="#">Para el Hogar</a></li>
                              <li><a href="#">Electricidad</a></li>
                              <li><a href="#">Herramientas</a></li>
                              <li><a href="#">Ferreteria</a></li>
                        </ul>
                  </nav>

            </header>

            <main class="main-section">
                  <section class="container">

                        <div class="container-title">
                              <p>Nuevo| 31 vendidos</p>
                              <p>Combo Amoladora Gladiator + Taladro Percutor + 5 Discos</p>
                        </div>

                        <div class="image">
                              <img src="/img/Combo Moladora-Taladro.png" alt="Combo Moladora-Taladro">
                        </div>

                        <div class="compra-container">
                              <div class="form-container">
                                    <form action="" method="">
                                          <div class="form">
                                                <div class="select-container">
                                                      <label for="cantidad">Cantidad: </label>
                                                      <select name="cantidad" class="input-select" id="cantidad">
                                                            <option value="" hidden selected>1</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                      </select>
                                                      <a href="carrito"><i class="fa-solid fa-cart-shopping"></i>+</a>
                                                </div>
                                                <div class="button-container">
                                                      <button type="submit" class="btn btn-confirm">Confirmar Compra</button>
                                                </div>
                                          </div>
                                    </form>
                              </div>
                        </div>






                        <div class="container-details">
                              <div class="pago">
                                    <p class="price">$11.461</p>
                                    <p>en 12x $1.250</p>
                              </div>
                              <div class="container-compra">
                                    <p>
                                          <a href="#">Ver los medios de pago</a><br>
                                          Llega el martes xx de diciembre<br>
                                          Devolución gratis<br>
                                          Tenes 30 días desde que lo recibís<br>
                                          Stock disponible<br>
                                          cantidad: 1 unidad (1 disponibles)
                                    </p>
                              </div>

                              <h3>Descripción del Producto</h3>
                              <div class="conteineir-decription">
                                    <p>Descripción
                                          COMBO AMOLADORA GLADIATOR + TALADRO PERCUTOR + 5 DISCOS <br>
                                          AMOLADORA ANGULAR AA 700W GLADIATOR + TALADRO PERCUTOR 13mm REVERSIBLE VELOCIDAD VARIABLE 550W ENERGY +
                                          DISCO DE
                                          CORTE 1,2MM GLADIATOR PRO<br>

                                          AMOLADORA ANGULAR GLADIATOR AA 415/2/220<br>
                                          Voltaje-Frecuencia: 220V - 50-60Hz<br>
                                          Velocidad en vacío: n0: 11000/min<br>
                                          Potencia: 700w<br>
                                          Capacidad: 115m - 4 1/2"<br>
                                          Tipo de aislación: Clase II<br>
                                          Peso: 1,8 kg<br>
                                          <br>
                                          TALADRO PERCUTOR ENERGY ID13/2/220<br>
                                          Contenido:<br>
                                          1 taladro percutor<br>
                                          1 tope de profundidad<br>
                                          1 llave de mandril<br>
                                          <br>
                                          Voltaje-Frecuencia: 220V - 50-60Hz<br>
                                          Potencia: 550W<br>
                                          Velocidad en vacío: n0: 0-2800/min<br>
                                          Capacidad: 13mm 1/2"<br>
                                          Tipo de aislación: Clase II<br>
                                          Peso: 1,5 kg<br>
                                          <br>
                                          DISCO DE CORTE GLADIATOR DAC811512<br>
                                          Medidas: 115 x 1,2 x22,2 mm<br>
                                          Máx. 13300 rpm<br>
                                          80 m/seg.<br>
                                    </p>

                              </div>
                        </div>

                  </section>

                  <section class="vip-products">
                        <div class="container-title">
                              <h3 class="title">✨PRODUCTOS DESTACADOS ✨</h3>
                              <a href="#">ver mas...</a>
                        </div>
                        <article class="product">
                              <div class="product-container">
                                    <a class="photo-container" href="descripcion">
                                          <img class="photo" src="img/Combo Moladora-Taladro.png" alt="plato nuevo">
                                    </a>
                                    <div class="valoracion">
                                          <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i
                                                class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
                                    </div>
                              </div>
                              <h2 class="name">Combo Amoladora Gladiator + Taladro Percutor + 5 Discos</h2>
                              <p class="price">$ 11.461</p>
                              <p class="send">Envio Gratis</p>
                        </article>
                        <article class="product">
                              <div class="product-container">
                                    <a class="photo-container" href="descripcion">
                                          <img class="photo" src="img/PicoPala.png" alt="plato nuevo">
                                    </a>
                                    <div class="valoracion">
                                          <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i
                                                class="fa-sharp fa-solid fa-star"></i>
                                    </div>
                              </div>
                              <h2 class="name">Combo Pico Punta Pala+ Pala Corazón Forjada Gherardi</h2>
                              <p class="price">$ 17.850</p>
                              <p class="send">Envio Gratis</p>
                        </article>
                        <article class="product">
                              <div class="product-container">
                                    <a class="photo-container" href="descripcion">
                                          <img class="photo" src="img/instalacionElectrica.png" alt="plato nuevo">
                                    </a>
                                    <div class="valoracion">
                                          <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i
                                                class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
                                    </div>
                              </div>
                              <h2 class="name">Combo Instalación Electrica Domiciliaría</h2>
                              <p class="price">$ 11.325</p>
                              <p class="send">Envio Gratis</p>
                        </article>
                        <article class="product">
                              <div class="product-container">
                                    <a class="photo-container" href="descripcion">
                                          <img class="photo" src="img/sillonesJardin.png" alt="plato nuevo">
                                    </a>
                                    <div class="valoracion">
                                          <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i
                                                class="fa-sharp fa-solid fa-star"></i>
                                    </div>
                              </div>
                              <h2 class="name">Juego De 4 Sillas Sillon Jardin Garden Life Miami Exteriores</h2>
                              <p class="price">$ 30.999</p>
                              <p class="send">Envio Gratis</p>
                        </article>
                  </section>
            </main>

            <footer class="main-footer">
                  <div class="container-footer">
                        <div class="container-image">
                              <img src="img/qr.png" alt="">
                              <img src="img/googlePlay.png" alt="" id="googlePlay">
                        </div>
                        <div class="our-networks">
                              <p>Buscano en nuestras redes</p>
                              <div class="container-networks">
                                    <div class="icon"><i class="fa-brands fa-facebook"></i></div>
                                    <div class="icon"><i class="fa-brands fa-telegram"></i></div>
                                    <div class="icon"><i class="fa-brands fa-youtube"></i></div>
                                    <div class="icon"><i class="fa-brands fa-twitter"></i></div>
                                    <div class="icon"><i class="fa-brands fa-square-instagram"></i></div>
                              </div>
                        </div>
                        <div class="nav-bottom">
                              <ul>
                                    <li><a href="#">Contactos</a></li>
                                    <li><a href="#">¿Quienes somos?</a></li>
                                    <li><a href="#">Politicas de Privacidad</a></li>
                                    <li><a href="#">Aviso legal y condiciones de uso</a></li>
                                    <li><a href="#">Politicas de Cookies</a></li>
                              </ul>
                        </div>
                        <p>Ferreteria Pico y Pala ©2022</p>
                  </div>
            </footer>
            <script src="js/index.js"></script>

      </div>
</body>

</html>